    body {
      margin: 48px 48px 48px 48px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
    }

    #example {
      padding: 20px;
    }

    #example .col {
      border: 1px solid #c9c9c9;
    }

    #example .col:not(:last-child) {
      border-right-width: 0;
    }

    #example .row:not(:last-child) .col {
      border-bottom-width: 0;
    }

    .col {
      font-size: 24px;
    }

    h3 {
      text-align: center;
    }

    #heading h4 {
      font-size: 21px;
      line-height: 25px;
      color: #4B77BE;
    }

    .roll {
      width: 110px;
      padding: 5px;
      font-size: 13px;
      border: 1px solid #4B77BE;
      border-radius: 5px;
      color: #4B77BE;
      margin: 0;
    }

    #apr {
      padding: 5px;
      font-size: 20px;
      border-radius: 5px;
      background-color: #28A745;
      color: #fff;
      margin: 0;
    }

    .head {
      font-size: 26px;
      line-height: 15px;
      padding-left: 50px;
      padding-top: 8px;
      color: #6C757D;
    }