<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo for Download student pdf</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400"
      rel="stylesheet"
    />
    <style>
      html, body { margin: 0 !important; height: 100% !important; font-family:
      'Roboto'; } body { height: 100%; } .text-blue { color: rgba(75, 119, 190,
      1); } .border-blue { border: 1px solid rgba(75, 119, 190, 1); } .b-5px {
      border-radius: 5px; } .f-13px { font-size: 13px; } .f-21px { font-size:
      21px; } .w-250px { width: 250px; } .w-150px { width: 150px; }
    </style>
  </head>

  <body>
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-12 d-flex align-items-center">
          <div class="mr-auto">
            <img src="logo.svg" alt="" />
          </div>
          <div>
            <img src="gitam.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="row my-3 d-flex align-items-center">
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto text-secondary f-13px">
          STUDENT PROFILE
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="text-blue f-21px">
            {{thread.student.student_basic_details.full_name}}
          </div>
          <div
            class="b-5px border-blue d-inline-block f-13px text-blue p-1"
          >{{thread.student.student_basic_details.student_regno}}</div>
          <div class="f-13px text-secondary mt-3">Profile last modified at
            <span>{{thread.student.logs.createdAt}}</span>.</div>
          <div
            class="b-5px bg-success text-white d-inline-block f-13px p-1 mt-1"
          >Approved</div>
        </div>
        <div class="col-auto">
          <img src="profile.svg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-3">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Section & Batch Years</td>
                <td>{{thread.student.section.section_name}}</td>
                <td class="w-150px">{{thread.student.section.batch_start_year}}</td>
                <td class="w-150px">{{thread.student.section.batch_end_year}}</td>
              </tr>
              <tr>
                <td>Specialization</td>
                <td colspan="3">{{thread.student.student_specialisation.specialisation_name}}</td>
              </tr>
              <tr>
                <td>Department</td>
                <td colspan="3">{{thread.student.student_department.department_name}}</td>
              </tr>
              <tr>
                <td>Institution</td>
                <td colspan="3">{{thread.student.student_institution.institution_name}}</td>
              </tr>
              <tr>
                <td>Location</td>
                <td colspan="3">Visakhapatnam</td>
              </tr>
              <tr>
                <td>Organisation</td>
                <td colspan="3">GITAM Deemed to be University</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Counselor</td>
                <td colspan="3">{{thread.student.faculty.user_display_name}}</td>
              </tr>
              <tr>
                <td>Mentor</td>
                <td colspan="3">{{thread.student.faculty.user_display_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 my-3">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Resume</td>
                <td colspan="3">Last updated at 1:46PM, 12 July 2021</td>
              </tr>
              <tr>
                <td>Linkedin</td>
                <td colspan="3">https://www.linkedin.com/in/itachi-uchiha/</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Declaration Acceptance</td>
                <td colspan="3">Digitally accepted and submitted at 3AM, 1 July
                  2021</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 my-2 f-13px text-secondary text-center">
          This document was generated at <span id="datetime"></span> via
          https://gitam.datatrove.in. Information may have changed post the
          point of generation.
        </div>
      </div>
      <div style="pageBreakAfter:always;" class="row">
        <div class="col-auto text-secondary f-13px">
          BASIC DETAILS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto">
          {{#if
            (and
              (eq
                thread.student.student_sectionwise_submissions.student_basic_details
                true
              )
              (eq
                thread.student.student_sectionwise_verifications.student_basic_details
                true
              )
            )
          }}
            <div
              class="b-5px bg-warning d-inline-block f-13px text-white p-1"
            >Verified
            </div>
          {{else if (and
            (eq
              thread.student.student_sectionwise_submissions.student_basic_details
              true
            )
            (ne
              thread.student.student_sectionwise_verifications.student_basic_details
              false
            )
          )}}
            <div
              class="b-5px bg-success d-inline-block f-13px text-white p-1"
            >Pending Verification
            </div>
          {{else}}
            <div
              class="b-5px bg-danger d-inline-block f-13px text-white p-1"
            >Not Submitted
            </div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Full Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_basic_details.full_name}}</td>
              </tr>
              <tr>
                <td>First Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_basic_details.first_name}}</td>
              </tr>
              <tr>
                <td>Middle Name</td>
                <td colspan="3">
                  {{#if
                    (eq thread.student.student_basic_details.middle_name null)
                  }}{{else}}
                    {{thread.student.student_basic_details.middle_name}}
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_basic_details.last_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-auto text-secondary f-13px">
         CONTACT DETAILS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto">
          {{#if
            (and
              (eq
                thread.student.student_sectionwise_submissions.student_contact_details
                true
              )
              (eq
                thread.student.student_sectionwise_verifications.student_contact_details
                true
              )
            )
          }}
            <div
              class="b-5px bg-warning d-inline-block f-13px text-white p-1"
            >Verified
            </div>
          {{else if (and
            (eq
              thread.student.student_sectionwise_submissions.student_contact_details
              true
            )
            (ne
              thread.student.student_sectionwise_verifications.student_contact_details
              false
            )
          )}}
            <div
              class="b-5px bg-success d-inline-block f-13px text-white p-1"
            >Pending Verification
            </div>
          {{else}}
            <div
              class="b-5px bg-danger d-inline-block f-13px text-white p-1"
            >Not Submitted
            </div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">User Email</td>
                <td
                  colspan="3"
                >{{thread.student.student_contact_details.user_email}}</td>
              </tr>
              <tr>
                <td>Personal Email</td>
                <td
                  colspan="3"
                >{{thread.student.student_contact_details.personal_email}}</td>
              </tr>
              <tr>
                <td>Phone Number</td>
                <td colspan="3">
                  {{thread.student.student_contact_details.phone_number}}
                </td>
              </tr>
              <tr>
                <td>Alternate Phone Number</td>
                <td
                  colspan="3"
                >{{thread.student.student_contact_details.alternate_phone_number}}</td>
              </tr>
              <tr>
                <td>Father Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_contact_details.father_name}}</td>
              </tr>
              <tr>
                <td>Mother Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_contact_details.mother_name}}</td>
              </tr>
              <tr>
                <td>Parent Email</td>
                <td
                  colspan="3"
                >{{thread.student.student_contact_details.parent_email}}</td>
              </tr>
              <tr>
                <td>Parent Phone Number</td>
                <td
                  colspan="3"
                >{{thread.student.student_contact_details.parent_phone_number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div style="padding-top: 220px;" class="row">
        <div class="col-auto text-secondary f-13px">
         ID DETAILS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto">
          {{#if
            (and
              (eq
                thread.student.student_sectionwise_submissions.student_id_details
                true
              )
              (eq
                thread.student.student_sectionwise_verifications.student_id_details
                true
              )
            )
          }}
            <div
              class="b-5px bg-warning d-inline-block f-13px text-white p-1"
            >Verified
            </div>
          {{else if (and
            (eq
              thread.student.student_sectionwise_submissions.student_id_details
              true
            )
            (ne
              thread.student.student_sectionwise_verifications.student_id_details
              false
            )
          )}}
            <div
              class="b-5px bg-success d-inline-block f-13px text-white p-1"
            >Pending Verification
            </div>
          {{else}}
            <div
              class="b-5px bg-danger d-inline-block f-13px text-white p-1"
            >Not Submitted
            </div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Nationality</td>
                <td
                  colspan="3"
                >{{thread.student.student_id_details.nationality}}</td>
              </tr>
              <tr>
                <td>Aadhar Number</td>
                <td
                  colspan="3"
                >{{thread.student.student_id_details.aadhar_number}}</td>
              </tr>
              <tr>
                <td>Pan</td>
                <td colspan="3">
                  {{thread.student.student_id_details.pan}}
                </td>
              </tr>
              <tr>
                <td>Voter Id</td>
                <td
                  colspan="3"
                >{{thread.student.student_id_details.voter_id}}</td>
              </tr>
              <tr>
                <td>Passport</td>
                <td
                  colspan="3"
                >{{thread.student.student_id_details.passport}}</td>
              </tr>
              <tr>
                <td>Driving licence number</td>
                <td
                  colspan="3"
                >{{thread.student.student_id_details.driving_licence_number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-auto text-secondary f-13px">
         ADDRESS DETAILS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto">
          {{#if
            (and
              (eq
                thread.student.student_sectionwise_submissions.student_address_details
                true
              )
              (eq
                thread.student.student_sectionwise_verifications.student_address_details
                true
              )
            )
          }}
            <div
              class="b-5px bg-warning d-inline-block f-13px text-white p-1"
            >Verified
            </div>
          {{else if (and
            (eq
              thread.student.student_sectionwise_submissions.student_address_details
              true
            )
            (ne
              thread.student.student_sectionwise_verifications.student_address_details
              false
            )
          )}}
            <div
              class="b-5px bg-success d-inline-block f-13px text-white p-1"
            >Pending Verification
            </div>
          {{else}}
            <div
              class="b-5px bg-danger d-inline-block f-13px text-white p-1"
            >Not Submitted
            </div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="col-auto text-secondary f-13px">
          PRESENT ADDRESS
          </div>
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Present house flat no</td>
                <td
                  colspan="3"
                >{{thread.student.student_address_details.present_address.present_house_flat_no}}</td>
              </tr>
              <tr>
                <td>Present street address</td>
                <td
                  colspan="3"
                >{{thread.student.student_address_details.present_address.present_street_address}}</td>
              </tr>
              <tr>
                <td>Present city</td>
                <td colspan="3">
                  {{thread.student.student_address_details.present_address.present_city}}
                </td>
              </tr>
              <tr>
                <td>Present state</td>
                <td
                  colspan="3"
                >{{thread.student.student_address_details.present_address.present_state}}</td>
              </tr>
              <tr>
                <td>Present pincode</td>
                <td
                  colspan="3"
                >{{thread.student.student_address_details.present_address.present_pincode}}</td>
              </tr>
            </tbody>
          </table>

          <div class="col-auto text-secondary f-13px">
          PERMENANT ADDRESS
          </div>
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Permanent house flat no</td>
                <td
                  colspan="3"
                >{{thread.student.student_address_details.permanent_address.permanent_house_flat_no}}</td>
              </tr>
              <tr>
                <td>Permanent street address</td>
                <td
                  colspan="3"
                >{{thread.student.student_address_details.permanent_address.permanent_street_address}}</td>
              </tr>
              <tr>
                <td>Permanent city</td>
                <td colspan="3">
                  {{thread.student.student_address_details.permanent_address.permanent_city}}
                </td>
              </tr>
              <tr>
                <td>Permanent state</td>
                <td
                  colspan="3"
                >{{thread.student.student_address_details.permanent_address.permanent_state}}</td>
              </tr>
              <tr>
                <td>Permanent pincode</td>
                <td
                  colspan="3"
                >{{thread.student.student_address_details.permanent_address.permanent_pincode}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          RESUME
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto">
          {{#if
            (and
              (eq
                thread.student.student_sectionwise_submissions.student_resume
                true
              )
              (eq
                thread.student.student_sectionwise_verifications.student_resume
                true
              )
            )
          }}
            <div
              class="b-5px bg-warning d-inline-block f-13px text-white p-1"
            >Verified
            </div>
          {{else if (and
            (eq
              thread.student.student_sectionwise_submissions.student_resume
              true
            )
            (ne
              thread.student.student_sectionwise_verifications.student_resume
              false
            )
          )}}
            <div
              class="b-5px bg-success d-inline-block f-13px text-white p-1"
            >Pending Verification
            </div>
          {{else}}
            <div
              class="b-5px bg-danger d-inline-block f-13px text-white p-1"
            >Not Submitted
            </div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Resume Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_resume.resume_name}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td
                  colspan="3"
                >{{thread.student.student_resume.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div style="padding-top: 640px;" class="row">
        <div class="col-auto text-secondary f-13px">
          INTERNSHIPS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto">
          {{#if
            (and
              (eq
                thread.student.student_sectionwise_submissions.student_internships
                true
              )
              (eq
                thread.student.student_sectionwise_verifications.student_internships
                true
              )
            )
          }}
            <div
              class="b-5px bg-warning d-inline-block f-13px text-white p-1"
            >Verified
            </div>
          {{else if (and
            (eq
              thread.student.student_sectionwise_submissions.student_internships
              true
            )
            (ne
              thread.student.student_sectionwise_verifications.student_internships
              false
            )
          )}}
            <div
              class="b-5px bg-success d-inline-block f-13px text-white p-1"
            >Pending Verification
            </div>
          {{else}}
            <div
              class="b-5px bg-danger d-inline-block f-13px text-white p-1"
            >Not Submitted
            </div>
          {{/if}}
        </div>
      </div>
      {{#each thread.student.student_internships}}
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Company Name</td>
                <td
                  colspan="3"
                >{{this.company_name}}</td>
              </tr>
              <tr>
                <td>Internship Role</td>
                <td
                  colspan="3"
                >{{this.internship_role}}</td>
              </tr>
              <tr>
                <td>Internship Duration</td>
                <td
                  colspan="3"
                >{{this.internship_duration}}</td>
              </tr>
              <tr>
                <td>How Obtained</td>
                <td
                  colspan="3"
                >{{this.how_obtained}}</td>
              </tr>
              <tr>
                <td>Work Description</td>
                <td
                  colspan="3"
                >{{this.work_desc}}</td>
              </tr>
              <tr>
                <td>Stipend Involved</td>
                <td
                  colspan="3"
                >
                  {{#if
                    (eq this.stipend_involved false)
                  }}
                  <div>
                    No Stipend Involved
                  </div>
                  {{else}}
                    {{stipend_involved}}
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td>Stipend Amount</td>
                <td
                  colspan="3"
                >{{this.stipend_amount}}</td>
              </tr>
              <tr>
                <td>Start Date</td>
                <td
                  colspan="3"
                >{{this.start_date}}</td>
              </tr>
              <tr>
                <td>End Date</td>
                <td
                  colspan="3"
                >{{this.end_date}}</td>
              </tr>
              <tr>
                <td>Internship offer letter file</td>
                <td
                  colspan="3"
                >{{this.internship_offer_letter_file}}</td>
              </tr>
              <tr>
                <td>Internship completion certificate file</td>
                <td
                  colspan="3"
                >{{this.internship_completion_certificate_file}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{/each}}

            <div class="row">
        <div class="col-auto text-secondary f-13px">
         PAST EDUCATION DETAILS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto">
          {{#if
            (and
              (eq
                thread.student.student_sectionwise_submissions.student_past_education_details
                true
              )
              (eq
                thread.student.student_sectionwise_verifications.student_past_education_details
                true
              )
            )
          }}
            <div
              class="b-5px bg-warning d-inline-block f-13px text-white p-1"
            >Verified
            </div>
          {{else if (and
            (eq
              thread.student.student_sectionwise_submissions.student_past_education_details
              true
            )
            (ne
              thread.student.student_sectionwise_verifications.student_past_education_details
              false
            )
          )}}
            <div
              class="b-5px bg-success d-inline-block f-13px text-white p-1"
            >Pending Verification
            </div>
          {{else}}
            <div
              class="b-5px bg-danger d-inline-block f-13px text-white p-1"
            >Not Submitted
            </div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="col-auto text-secondary f-13px">
          X DETAILS
          </div>
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">City</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.x_details.city}}</td>
              </tr>
              <tr>
                <td>Gap x</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.x_details.gap_x}}</td>
              </tr>
              <tr>
                <td>State</td>
                <td colspan="3">
                  {{thread.student.student_past_education_details.x_details.state}}
                </td>
              </tr>
              <tr>
                <td>Board Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.x_details.board_name}}</td>
              </tr>
              <tr>
                <td>Marks type</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.x_details.marks_type}}</td>
              </tr>
              <tr>
                <td>School name</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.x_details.school_name}}</td>
              </tr>
              <tr>
                <td>Entered marks</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.x_details.entered_marks}}</td>
              </tr>
              <tr>
                <td>Date of Joining</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.x_details.date_of_joining}}</td>
              </tr>
              <tr>
                <td>Date of Passing</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.x_details.date_of_passing}}</td>
              </tr>
              <tr>
                <td>Calculated Percentage</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.calculated_percentage}}</td>
              </tr>
            </tbody>
          </table>

          
          <div style="padding-top: 140px;" class="col-auto text-secondary f-13px">
          XII DETAILS
        </div>
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">City</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.city}}</td>
              </tr>
              <tr>
                <td>State</td>
                <td colspan="3">
                  {{thread.student.student_past_education_details.xii_details.state}}
                </td>
              </tr>
              <tr>
                <td>Gap x</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.gap_x}}</td>
              </tr>
              <tr>
                <td>Gap x-xii</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.gap_x}}</td>
              </tr>
              <tr>
                <td>Board Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.board_name}}</td>
              </tr>
              <tr>
                <td>Marks type</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.marks_type}}</td>
              </tr>
              <tr>
                <td>School name</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.school_name}}</td>
              </tr>
              <tr>
                <td>Entered marks</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.entered_marks}}</td>
              </tr>
              <tr>
                <td>Date of Joining</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.date_of_joining}}</td>
              </tr>
              <tr>
                <td>Date of Passing</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.date_of_passing}}</td>
              </tr>
              <tr>
                <td>Calculated Percentage</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.xii_details.calculated_percentage}}</td>
              </tr>
            </tbody>
          </table>

          <div class="col-auto text-secondary f-13px">
          UG DETAILS
        </div>
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">cgpa</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.ug_details.cgpa}}</td>
              </tr>
              <tr>
                <td>Gap UG</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.ug_details.gap_ug}}</td>
              </tr>
              <tr>
                <td>Gap xii-ug</td>
                <td colspan="3">
                  {{thread.student.student_past_education_details.ug_details.gap_xii_ug}}
                </td>
              </tr>
              <tr>
                <td>Degree Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.ug_details.degree_name}}</td>
              </tr>
              <tr>
                <td>Roll number</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.ug_details.roll_number}}</td>
              </tr>
              <tr>
                <td>Date of Joining</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.ug_details.date_of_joining}}</td>
              </tr>
              <tr>
                <td>Date of Passing</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.ug_details.date_of_passing}}</td>
              </tr>
              <tr>
                <td>Department name</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.ug_details.department_name}}</td>
              </tr>
              <tr>
                <td>University name</td>
                <td
                  colspan="3"
                >{{thread.student.student_past_education_details.ug_details.university_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          PAST PG DETAILS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto">
          {{#if
            (and
              (eq
                thread.student.student_sectionwise_submissions.student_basic_details
                true
              )
              (eq
                thread.student.student_sectionwise_verifications.student_basic_details
                true
              )
            )
          }}
            <div
              class="b-5px bg-warning d-inline-block f-13px text-white p-1"
            >Verified
            </div>
          {{else if (and
            (eq
              thread.student.student_sectionwise_submissions.student_basic_details
              true
            )
            (ne
              thread.student.student_sectionwise_verifications.student_basic_details
              false
            )
          )}}
            <div
              class="b-5px bg-success d-inline-block f-13px text-white p-1"
            >Pending Verification
            </div>
          {{else}}
            <div
              class="b-5px bg-danger d-inline-block f-13px text-white p-1"
            >Not Submitted
            </div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Status</td>
                <td
                  colspan="3"
                >No Past PG details</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          PRESENT EDUCATION DETAILS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto">
          {{#if
            (and
              (eq
                thread.student.student_sectionwise_submissions.student_present_education_details
                true
              )
              (eq
                thread.student.student_sectionwise_verifications.student_present_education_details
                true
              )
            )
          }}
            <div
              class="b-5px bg-warning d-inline-block f-13px text-white p-1"
            >Verified
            </div>
          {{else if (and
            (eq
              thread.student.student_sectionwise_submissions.student_present_education_details
              true
            )
            (ne
              thread.student.student_sectionwise_verifications.student_present_education_details
              false
            )
          )}}
            <div
              class="b-5px bg-success d-inline-block f-13px text-white p-1"
            >Pending Verification
            </div>
          {{else}}
            <div
              class="b-5px bg-danger d-inline-block f-13px text-white p-1"
            >Not Submitted
            </div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Institute Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_present_education_details.institute_name}}</td>
              </tr>
              <tr>
                <td>Degree Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_present_education_details.degree_name}}</td>
              </tr>
              <tr>
                <td>Department Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_present_education_details.department_name}}</td>
              </tr>
              <tr>
                <td>Specialisation Name</td>
                <td
                  colspan="3"
                >{{thread.student.student_present_education_details.specialisation_name}}</td>
              </tr>
              <tr>
                <td>Mode of Admission</td>
                <td
                  colspan="3"
                >{{thread.student.student_present_education_details.mode_of_admission}}</td>
              </tr>
              <tr>
                <td>Rank Obtained</td>
                <td
                  colspan="3"
                >{{thread.student.student_present_education_details.rank_obtained}}</td>
              </tr>
              <tr>
                <td>Gap</td>
                <td
                  colspan="3"
                >{{thread.student.student_present_education_details.gap}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div style="padding-top: 170px;" class="row my-3 d-flex align-items-center">
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto text-secondary f-13px">
          EXTRA CIRCULAR
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          SKILLS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Skills</td>
                <td colspan="3">
                  {{#if
                    (eq thread.student.studentExtracurricular.student_skills.skill_count 0)
                  }}
                  <div>
                    No Skills Available.
                  </div>
                  {{else}}
                    {{thread.student.studentExtracurricular.student_skills.skills}}
                  {{/if}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          TECHNICAL SKILLS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Technical Skills</td>
                <td colspan="3">
                  {{#if
                    (eq thread.student.studentExtracurricular.student_technical_skills.skill_count 0)
                  }}
                  <div>
                    No Technical Skills Available.
                  </div>
                  {{else}}
                    {{thread.student.studentExtracurricular.student_technical_skills.technical_skills}}
                  {{/if}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          CERTIFICATIONS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
    {{#each thread.student.studentExtracurricular.student_certifications.certificates}}
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Paid Status</td>
                <td colspan="3">
                  {{this.paid_status}}
                </td>
              </tr>
              <tr>
                <td>Organisation</td>
                <td
                  colspan="3"
                >{{this.certification_org}}</td>
              </tr>
              <tr>
                <td>Certification Date</td>
                <td
                  colspan="3"
                >{{this.certification_date}}</td>
              </tr>
              <tr>
                <td>Certification Name</td>
                <td
                  colspan="3"
                >{{this.certification_name}}</td>
              </tr>
              <tr>
                <td>Certification Institute</td>
                <td
                  colspan="3"
                >{{this.certification_institute}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{/each}}

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          SCHOLARSHIPS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
    {{#each thread.student.studentExtracurricular.student_scholarships.scholarships}}
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Date</td>
                <td colspan="3">
                  {{this.date}}
                </td>
              </tr>
              <tr>
                <td>Grant</td>
                <td
                  colspan="3"
                >{{this.grant}}</td>
              </tr>
              <tr>
                <td>Scholarship Name</td>
                <td
                  colspan="3"
                >{{this.scholarship_name}}</td>
              </tr>
              <tr>
                <td>Issuing Authority</td>
                <td
                  colspan="3"
                >{{this.issuing_authority}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{/each}}

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          AWARDS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
    {{#each thread.student.studentExtracurricular.student_awards.awards}}
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Date</td>
                <td colspan="3">
                  {{this.date}}
                </td>
              </tr>
              <tr>
                <td>Level</td>
                <td
                  colspan="3"
                >{{this.level}}</td>
              </tr>
              <tr>
                <td>Place</td>
                <td
                  colspan="3"
                >{{this.place}}</td>
              </tr>
              <tr>
                <td>Award Name</td>
                <td
                  colspan="3"
                >{{this.award_name}}</td>
              </tr>
              <tr>
                <td>Monetary Reward</td>
                <td
                  colspan="3"
                >{{this.monetary_reward}}</td>
              </tr>
              <tr>
                <td>Issuing Authority</td>
                <td
                  colspan="3"
                >{{this.issuing_authority}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{/each}}

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          SPORTS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
    {{#each thread.student.studentExtracurricular.student_sports.sports}}
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Date</td>
                <td colspan="3">
                  {{this.date}}
                </td>
              </tr>
              <tr>
                <td>Level</td>
                <td
                  colspan="3"
                >{{this.level}}</td>
              </tr>
              <tr>
                <td>Place</td>
                <td
                  colspan="3"
                >{{this.place}}</td>
              </tr>
              <tr>
                <td>Sport Name</td>
                <td
                  colspan="3"
                >{{this.sport_name}}</td>
              </tr>
              <tr>
                <td>Sport Award</td>
                <td
                  colspan="3"
                >{{this.sport_award}}</td>
              </tr>
              <tr>
                <td>Monetary Reward</td>
                <td
                  colspan="3"
                >{{this.monetary_reward}}</td>
              </tr>
              <tr>
                <td>Issuing Authority</td>
                <td
                  colspan="3"
                >{{this.issuing_authority}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {{/each}}

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          WORKSHOPS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">workshops</td>
                <td colspan="3">
                  {{#if
                    (eq thread.student.studentExtracurricular.student_workshops.workshops_count 0)
                  }}
                  <div>
                    No Workshops Available.
                  </div>
                  {{else}}
                    {{thread.student.studentExtracurricular.student_workshops.workshops}}
                  {{/if}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-auto text-secondary f-13px">
          CLUBS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Clubs</td>
                <td colspan="3">
                  {{#if
                    (eq thread.student.studentExtracurricular.student_clubs.club_count 0)
                  }}
                  <div>
                    No clubs Available.
                  </div>
                  {{else}}
                    {{thread.student.studentExtracurricular.student_clubs.clubs}}
                  {{/if}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div style="padding-top: 140px;" class="row">
        <div class="col-auto text-secondary f-13px">
          PUBLICATIONS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Publications</td>
                <td colspan="3">
                  {{#if
                    (eq thread.student.studentExtracurricular.student_publications.publication_count 0)
                  }}
                  <div>
                    No publications Available.
                  </div>
                  {{else}}
                    {{thread.student.studentExtracurricular.student_publications.publications}}
                  {{/if}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div style="padding-top: 60px;" class="row my-3 d-flex align-items-center">
        <div class="col">
          <hr class="text-secondary" />
        </div>
        <div class="col-auto text-secondary f-13px">
          LOGS
        </div>
        <div class="col">
          <hr class="text-secondary" />
        </div>
      </div>
        
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <tbody class="f-13px text-secondary">
              <tr>
                <td class="w-250px">Actor Name</td>
                <td
                  colspan="3"
                >{{thread.student.logs.actor_name}}</td>
              </tr>
              <tr>
                <td>Actor Role</td>
                <td
                  colspan="3"
                >{{thread.student.logs.actor_role}}</td>
              </tr>
              <tr>
                <td>Action</td>
                <td
                  colspan="3"
                >{{thread.student.logs.action}}</td>
              </tr>
              <tr>
                <td>Subject</td>
                <td
                  colspan="3"
                >{{thread.student.logs.subject}}</td>
              </tr>
              <tr>
                <td>createdAt</td>
                <td
                  colspan="3"
                >{{thread.student.logs.createdAt}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    


    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <script>
var dt = new Date();
document.getElementById("datetime").innerHTML = (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()+1).slice(-2)) +":"+ (("0"+dt.getMinutes()+1).slice(-2));
</script>
  </body>

</html>